
#pages {
    padding: 2em;
    background-color: white;
}

#pages .icon {
    color: white;
    background-color: var(--secondary-text-color);
    padding: 10px;
    margin-right: 15px;
}

#pages h2 {
    font-size: 1.6rem;
}

#pages p.descr {
    margin-top: 0.5em;
    margin-left: 50px;
}