@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');


:root {
    --primary-bg-color: #f0f0f0;
    --primary-text-color: #676767;
    --secondary-text-color: #007faa;
    --primary: var(--secondary-text-color);
    --default-margin: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-text-color);
}

h1, h2 {
    color: black;
}

.icon-color, .icon-color a {
    color: var(--secondary-text-color)!important;
}

@media (max-width: 768px) { 
    #content {
        padding: 0;
        margin: 0;
    }
}